name: Deploy to GitHub Pages (Next.js 16)

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Build Next.js project
        run: npm run build

      - name: Prepare export folder
        run: |
          mkdir exported
          cp -R .next/server/app/* exported/
          mkdir -p exported/_next
          cp -R .next/static exported/_next/static

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: exported

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write

    environment:
      name: github_pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
